@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Light.eot');
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
        url('fonts/OpenSansCondensed-Light.eot') format('embedded-opentype'),
        url('fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed italic';
    src: url('fonts/OpenSansCondensed-LightItalic.eot');
    src: local('Open Sans Condensed Light Italic'), local('OpenSansCondensed-LightItalic'),
        url('fonts/OpenSansCondensed-Light.eot') format('embedded-opentype'),
        url('fonts/OpenSansCondensed-LightItalic.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed bold';
    src: url('fonts/OpenSansCondensed-Bold.eot');
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
        url('fonts/OpenSansCondensed-Bold.eot') format('embedded-opentype'),
        url('fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --brand-orange-color: #D79A25;
    --brand-gray-color: #CCD0D3;
    --brand-dark-gray-color: #768390;
    --brand-button-dark-gray-color: #6D7B88;
    --border-color: rgba(59, 59, 59, 0.316);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

[class*="__container"] {
    margin: 0 auto;
    
}


body {
    line-height: 1;
    font-family: 'Open Sans Condensed bold';
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: 2;
}
/* ----------------------------- */
.first_page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/header/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding-top: 20%;
    padding-bottom: 25%; 
    height: 100%;
}

.first_page__logo {
    width: 50%;
}

@media(max-width:687px){
    .first_page{
        display: none;
    }
}
/* -------------------------- */
.header__main {
    background-image: linear-gradient(rgba(8, 11, 15, 0.788), rgba(18, 22, 28, 0.842)), url(images/background_img_mobile.png);
    background-size: 61%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-color:#191613;
}
/* ---------------------------- */
@media(max-width:687px){
    .menu_container{
        display: none;
    }
    .phone_container{
        display: none;
    }
}
@media(min-width:688px){
    .header_menu_container_mobile{
        display: none;
    }
}

.header__menu__container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 84px;
    background-color:#7683900b;
    padding-bottom :11px;
    margin-bottom: 75px;
    padding-right: 20px;
}
.logo_header{
    padding-left: 49px;
}
.menu_desktop {
    display: flex;
    gap: 54px;
    padding-bottom: 5px;
    align-items: flex-end;
}
@media(max-width:965px){
    .menu_desktop {
        gap: 34px;
    } 
    .menu_desktop a {
        font-size: 16px;
    }

    .header__menu__container {
        height: 64px;
        padding-bottom :7px;
        margin-bottom: 55px;
        padding-right: 0;
    }
}
.menu_desktop a {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    line-height: 1.36;
}

.first_link{
    color: var(--brand-orange-color) !important;
}

.phone_container{
    align-self:flex-end;
    border-bottom:4px solid var(--brand-orange-color);
}
.phone_container a{
    font-size: 24px;
    line-height: 1.37;
    color:white;
    padding-right: 22px;
    padding-left: 18px;
}

.phone_icon img{
    width: 22px;
}
@media(max-width:815px){
    .phone_container{
       display: none;
    } 
    .menu_container{
        margin-right: 80px;
    }
}
@media(max-width:915px){
    .phone_icon{
        width: 18px;
        padding-bottom: 5px;
    }
    .phone_container{
        border-bottom:2px solid var(--brand-orange-color);
    }
    .phone_container a{
        font-size: 20px;
        line-height: 1.37;
        padding-left: 10px;
    }
}
.menu_btn {
    width: 50px;
    height: 50px;
}

.menu_btn span {
    width: 25px;
    height: 2px;
    background-color: white;
    color: white;
    position: absolute;
    top: 5%;
    right: 5;
    transition: all ease-out 0.3s;
}

.menu_btn span:nth-of-type(2) {
    top: calc(5% - 5px);
}

.menu_btn span:nth-of-type(3) {
    top: calc(5% + 5px);
}

.menu_btn.active span:first-of-type {
    display: none;
}

.menu_btn.active span:nth-of-type(2) {
    top: 45px;
    transform: rotate(45deg);
}

.menu_btn.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 45px;
}

.menu {
    padding-right: 10px;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
}

.menu.hide {
    display: none;
}

.menu a,
.menu li {
    font-family: 'Open Sans Condensed bold';
    font-size: 30px;
    color: var(--brand-orange-color);
    padding-left: 5px;
    padding-top: 45px;
    list-style: none;
    text-decoration: none;
}

/* ------------------------------ */
.homepage_content_container{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    text-align: center;
}

.homepage_content{
width: 50%;
padding-left: 145px;
color:white;
}

.p_main{
font-size: 31px;
line-height: 1.2;
letter-spacing: 2%;
margin-top: 75px;
}

h1{
font-size: 136px;
line-height: 1.36;
letter-spacing: 2%;
}

h1 span{
    color:var(--brand-orange-color);
}

