@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Light.eot');
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
        url('fonts/OpenSansCondensed-Light.eot') format('embedded-opentype'),
        url('fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed italic';
    src: url('fonts/OpenSansCondensed-LightItalic.eot');
    src: local('Open Sans Condensed Light Italic'), local('OpenSansCondensed-LightItalic'),
        url('fonts/OpenSansCondensed-Light.eot') format('embedded-opentype'),
        url('fonts/OpenSansCondensed-LightItalic.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed bold';
    src: url('fonts/OpenSansCondensed-Bold.eot');
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
        url('fonts/OpenSansCondensed-Bold.eot') format('embedded-opentype'),
        url('fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --brand-orange-color: #D79A25;
    --brand-orange-color_hover: #bd861f;
    --brand-gray-color: #CCD0D3;
    --brand-dark-gray-color: #768390;
    --brand-button-dark-gray-color: #6D7B88;
    --border-color: rgba(59, 59, 59, 0.316);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    line-height: 1;
    font-family: 'Open Sans Condensed bold';
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

.wrapper {
    overflow: hidden;
}

/* ----------------------------- */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/header/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 25%;
}

.first_page__logo {
    width: 40%;
    display: block;
    margin: 0 auto;
}

@media(max-width:820px) {
    .header {
        display: none;
    }
}

/* -------------------------- */
.header__main {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background_img_mobile.png);
    background-size: 61%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-color: #191613;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

@media(max-width:768px) {
    .header__main {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
}

@media(max-width:450px) {
    .header__main {
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        background-size: cover;
    }
}

/* ---------------------------- */
@media(max-width:687px) {
    .menu_container {
        display: none;
    }

    .phone_container {
        display: none;
    }
}

.header__menu__container {
    justify-self: flex-start;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
    background-color: #7683900b;
    padding-bottom: 0.07%;
    margin-bottom: 1%;
}

.logo_header img {
    padding-left: 15%;
}

.logo_header {
    gap: 100%;
}

.logo_header.hide {
    display: none;
}

.menu_desktop {
    display: flex;
    gap: 64px;
    align-items: flex-end;
}

.menu_desktop a {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    line-height: 1.36;
}


@media(max-width:965px) {
    .menu_desktop {
        gap: 34px;
    }

    .menu_desktop a {
        font-size: 16px;
    }

    .header__menu__container {
        height: 64px;
        padding-bottom: 7px;
        margin-bottom: 55px;
        padding-right: 0;
    }

}

@media(max-width:620px) {
    .logo_header img {
        width: 250;
    }

    .logo_header img {
        padding-left: 10px;
    }
}

@media(min-width:1700px) {
    .menu_desktop {
        gap: 84px;
    }

    .menu_desktop a {
        font-size: 26px;
    }
}

.first_link {
    color: var(--brand-orange-color) !important;
}

.phone_container {
    align-self: flex-end;
    border-bottom: 4px solid var(--brand-orange-color);
}

.phone_container a {
    font-size: 24px;
    line-height: 1.37;
    color: white;
    padding-right: 15px;
    padding-left: 18px;
}

.phone_icon {
    width: 22px;
    position: relative;
    bottom: 5px;
}

@media(min-width:1700px) {
    .phone_container a {
        font-size: 28px;
    }

    .phone_icon {
        width: 28px;
        position: relative;
        bottom: 8px;
    }
}

@media(max-width:820px) {
    .phone_container {
        display: none;
    }

    .menu_container {
        margin-right: 80px;
    }
}

@media(max-width:915px) {
    .phone_icon {
        width: 18px;
        padding-bottom: 5px;
    }

    .phone_container {
        border-bottom: 2px solid var(--brand-orange-color);
    }

    .phone_container a {
        font-size: 20px;
        line-height: 1.37;
        padding-left: 10px;
    }
}

.menu_btn {
    width: 50px;
    height: 50px;
}

.menu_btn span {
    width: 25px;
    height: 2px;
    background-color: white;
    color: white;
    position: absolute;
    top: 5%;
    right: 5;
    transition: all ease-out 0.3s;
}

.menu_btn span:nth-of-type(2) {
    top: calc(5% - 5px);
}

.menu_btn span:nth-of-type(3) {
    top: calc(5% + 5px);
}

.menu_btn.active span:first-of-type {
    display: none;
}

.menu_btn.active span:nth-of-type(2) {
    top: 45px;
    transform: rotate(45deg);
}

.menu_btn.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 45px;
}

.menu {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.menu.hide {
    display: none;
}

.menu a,
.menu li {
    font-family: 'Open Sans Condensed bold';
    font-size: 30px;
    color: var(--brand-orange-color);
    padding-left: 5px;
    padding-top: 45px;
    list-style: none;
    text-decoration: none;
}

@media(min-width:687px) {

    .menu_btn,
    .menu {
        display: none;
    }
}

/* ------------------------------ */
.homepage_content_container {
    margin-top: 4.5%;
    flex: 3;
}

.homepage_content_container.hide {
    display: none;
}

.homepage_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-left: 18%;
    color: white;

}

@media(max-width:1417px) {
    .homepage_content {
        width: 60%;
        padding-left: 15%;
        color: white;
    }
}

@media(max-width:820px) {
    .homepage_content {
        width: 60%;
        padding-left: 20px;
        color: white;
    }
}

.p_main {
    font-size: 31px;
    line-height: 1.2;
    letter-spacing: 2%;
    margin-top: 75px;
}

h1 {
    font-size: 136px;
    line-height: 1.36;
    letter-spacing: 2%;
}

h1 span {
    color: var(--brand-orange-color);
}

@media(max-width:1009px) {
    .p_main {
        font-size: 27px;
        margin-top: 75px;
    }

    h1 {
        font-size: 116px;
    }
}

.button_main {
    text-align: center;
    display: block;
    background-color: var(--brand-orange-color);
    width: 252px;
    height: 57px;
    padding-top: 18px;
    margin-bottom: 10%;
    margin-top: 60px;
    transition: all 5ms ease-in-out;
}

@media(max-width:820px) {
    .button_main {
        text-align: center;
        width: 212px;
        height: 47px;
        padding-top: 13px;
        margin-bottom: 28%;
        margin-top: 50px;
    }
}

.button_main:hover {
    background-color: white;
    cursor: pointer;
}

.open_modal:hover {
    color: #191613;
    cursor: pointer;
}

.open_modal {
    font-size: 18px;
    line-height: 1.36;
    color: #191613;
}

@media(max-width:450px) {
    .button_main {
        width: 180px;
        height: 47px;
        padding-top: 13px;
        margin-bottom: 30%;
    }

    .open_modal {
        font-size: 15px;
    }
}

.homepage_links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.social-media_links {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin-bottom: 25px;

}

.social-media_links img:last-child {
    padding-top: 25px;
}


@media(max-width:684.7px) {
    .homepage_links {
        display: none;
    }

    .homepage_content {
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

    .p_main {
        font-size: 25px;
        margin-top: 105px;
        margin-bottom: 0;
    }

    h1 {
        font-size: 108px;
    }
}

@media(max-width:450px) {
    .p_main {
        font-size: 20px;
        margin-top: 35%;
        margin-bottom: 0;
    }

    h1 {
        font-size: 86px;
    }
}

.about_us {
    height: 100%;
    width: 100%;
    background-color: var(--brand-gray-color);
    padding-top: 132px;
}

.about_us_content {
    padding-left: 185px;
    padding-bottom: 50px;
}

.title {
    font-size: 58px;
    line-height: 1.22;
}

.p_about_us:nth-of-type(1) {
    padding-top: 62px;
}

.p_about_us {
    width: 791px;
    padding-right: 40px;
}

.about_us_icon {
    padding-top: 30px;
    padding-bottom: 32px;
    width: 32px;
}

@media(max-width:1038px) {
    .about_us_content {
        padding-left: 115px;
    }

    .p_about_us {
        width: 621px;
        margin-right: 40px;
    }
}

@media(max-width:768px) {
    .about_us {
        padding-top: 82px;
    }

    .about_us_content {
        padding-left: 85px;
        padding-bottom: 50px;
    }

    .p_about_us {
        width: 576px;
        margin-right: 40px;
    }
}

@media(max-width:635px) {
    .title {
        font-size: 42px;
    }

    .about_us {
        padding-top: 52px;
    }

    .about_us_content {
        padding-left: 25px;
        padding-bottom: 45px;
    }

    .p_about_us {
        width: 100%;
        margin-right: 25px;
    }
}

.container_buttons_carousel {
    background-color: var(--brand-button-dark-gray-color);
    margin: 20px 40px 0 40px;
    height: 80px;
    display: flex;
}

.button_carousel {
    width: 450px;
}

.carousel_title {
    background-color: var(--brand-dark-gray-color);
    width: 550px;
    text-align: center;
    border: 2px solid var(--border-color);
    border-bottom: none;
    padding-top: 25px;
}

.carousel-bg {
    background-color: var(--brand-dark-gray-color);
    height: 100%;
    padding-bottom: 80px;
    margin-bottom: 0px;
}

.doctors_carousel_content {
    background-color: white;
    margin-top: 132px;
    margin-left: 124px;
    margin-right: 124px;
    display: flex;
}

.doctors_carousel_content_header {
    display: flex;
    margin-left: 44px;
    position: relative;
    bottom: 44px;
    padding-bottom: 80px;
}

.doctors_photo {
    width: 300px;
    max-height: 300px;
}

.doctors_name {
    text-transform: uppercase;
}

.doctors_title {
    background-color: var(--brand-orange-color);
    height: 44px;
    width: 246px;
    text-align: center;
    padding-top: 15px;
}

.about_doctor_container {
    margin-left: -230px;
    margin-top: 15px;
    padding-right: 55px;
    height: 300px;
}

.doctors_specialization_section {
    margin-top: 20px;
}

.doctors_specialization_section p {
    font-family: 'Open Sans Condensed bold';
}

.doctors_specialization_section span {
    font-family: 'Roboto Condensed', sans-serif;
}

.about_doctors {
    margin-top: 10px;
}

.carousel-control-prev-icon {
    /* width: 40px; */
    position: relative;
    right: 20px;
}

.carousel-control-next-icon {
    position: relative;
    left: 20px;
}

@media(max-width:1232px) {
    .doctors_carousel_content_header {
        margin-left: 40px;
        bottom: 40px;
        padding-bottom: 40px;
    }

    .doctors_title {
        height: 40px;
        width: 226px;
        padding-top: 13px;
    }

    .about_doctor_container {
        margin-left: -215px;
        margin-top: 0;
        padding-right: 15px;
    }

    .doctors_specialization_section {
        margin-top: 10px;
    }

    .about_doctors {
        margin-top: 15px;
    }
}

@media(max-width:940px) {
    .container_buttons_carousel {
        margin: 20px 40px 0 40px;
        height: 70px;
    }

    .doctors_carousel_content {
        margin-top: 102px;
        margin-left: 54px;
        margin-right: 54px;
    }

    .doctors_carousel_content_header {
        margin-left: 30px;
        bottom: 36px;
        padding-bottom: 0px;
    }

    .doctors_photo {
        width: 280px;
        max-height: 280px;
    }

    .doctors_title {
        height: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .about_doctor_container {
        margin-left: -210px;
        margin-top: 0;
        padding-right: 15px;
        height: 300px;
    }

    .doctors_specialization_section {
        margin-top: 10px;
    }

    .about_doctors {
        margin-top: 10px;
    }
}

@media(max-width:784px) {
    .doctors_carousel_content {
        margin-top: 72px;
        margin-left: 72px;
        margin-right: 72px;
        display: block
    }

    .doctors_photo {
        width: 200px;
        max-height: 250px;
        position: relative;
        bottom: 20px;
    }

    .doctors_carousel_content_header {
        margin-left: 20px;
        position: unset;
        padding-bottom: 0;
        height: fit-content;
    }

    .doctors_title {
        height: fit-content;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 13px;
    }

    .about_doctor_container {
        margin-left: 20px;
        margin-top: 0;
        padding-right: 15px;
    }

    .doctors_specialization_section {
        margin-top: 10px;
    }

}

@media(max-width:570px) {
    .container_buttons_carousel {
        margin: 0;
        height: 50px;
    }

    .carousel-bg {
        height: 100%;
        padding-bottom: 40px;
        margin-bottom: 0;
    }

    .doctors_carousel_content {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
    }

    .doctors_carousel_content_header {
        margin-left: 15px;
    }

    .doctors_photo {
        width: 150px;
        max-height: 150px;
        bottom: 15px
    }

    .doctors_name {
        font-size: 12px;
    }

    .about_doctor_container {
        margin-left: 15px;
        margin-top: 0;
        padding-right: 15px;
        height: max-content;
        padding-bottom: 5px;
    }

    .doctors_specialization_section {
        margin-top: 0px;
        font-size: 12px;
    }

    .about_doctors {
        margin-top: 10px;
        font-size: 1px;
    }

    .carousel-control-prev-icon {
        position: relative;
        right: 10px;
    }

    .carousel-control-next-icon {
        position: relative;
        left: 10px;
    }
}

.quote {
    background-color: #DBAE59;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_block {
    margin: 0 auto;
    width: 70%;
}

.quote_text {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans Condensed italic';
    font-size: 30px;
    line-height: 1.4;
}


.author {
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 20px;
    padding-top: 45px;
    font-size: 25px;
    text-align: end;
}

@media(max-width:650px) {
    .quote_block {
        width: 85%;
    }

    .quote_text {
        text-align: left;
        font-size: 22px;
        line-height: 1.6;
    }


    .author {
        font-family: 'Roboto Condensed', sans-serif;
        padding-right: 20px;
        padding-top: 45px;
        font-size: 20px;
        text-align: end;
    }
}

.services_block {
    background-color: var(--brand-gray-color);
}

.services_main {
    padding: 110px 30px 20px 188px;
}

.p_services {
    margin-top: 62px;
    margin-bottom: 82px;
    font-size: 18px;
    width: 891px;
}

.services_menu_container {
    display: flex;
    min-width: 100%;
    margin-right: 160px;
}

.clinic_section {
    background-color: var(--brand-dark-gray-color);
    flex: 1.5;
    height: 80px;
    margin-top: -10px;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    cursor: pointer;
}

.clinic_section.hide_clinic {
    background-color: var(--brand-button-dark-gray-color);
    flex: 1;
    height: 70px;
    position: relative;
    top: 20px;
    margin-top: 0px;
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    margin-left: 130px;
    color: #C0C2C9;
    cursor: pointer;
}

.apotheke_section {
    background-color: var(--brand-button-dark-gray-color);
    flex: 1;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    margin-right: 130px;
    color: #C0C2C9;
    cursor: pointer;
}

.apotheke_section.show_apotheke {
    margin-right: 0;
    background-color: var(--brand-dark-gray-color) !important;
    flex: 1.5;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    cursor: pointer;
}

.services_desktop_content_container {
    background-color: var(--brand-dark-gray-color);
    padding-top: 50px;
    display: flex;
}

.services_menu_content {
    padding-bottom: 20px;
    padding-left: 100px;
}

.services_menu_content.hide_menu_content {
    display: none;
}

.services_menu {
    padding-top: 40px;
}

.services_menu:hover {
    cursor: pointer;
    color: var(--brand-orange-color);
}

.services_menu.active {
    color: #C0C2C9;
}

.apotheke_content.hide_apotheke_content {
    display: none;
}

.apotheke_content {
    display: block;
    margin-top: 100px;
    margin-left: 300px;
    width: 100%;
    height: 320px;
    /* margin-right: -200px; */
}

.apotheke_content p {
    padding-top: 0;
    margin-top: 0;
    width: 700px;
    height: 100px;
}

.apotheke_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.apotheke_content img {
    width: 415px;
    display: block;
    margin-right: 40px;
    margin-left: 87%;
}

.button_apotheke {
    margin: 0;
    margin-bottom: 80px;
}

.services_content_block {
    height: 190px;
}

.services_content_container {
    margin-top: 60px;
    margin-left: 320px;
    max-width: 40%;
}

.services_content_block.hide_services_content {
    display: none;
}

.services_content {
    display: none;
}

.services_content.active {
    display: block;
}

.button_services {
    margin-top: 85px;
}

.button_services.hide_button_services {
    display: none;
}

@media(max-width:1280px) {
    .services_content_container {
        margin-top: 60px;
        margin-left: 280px;
        margin-right: 50px;
        max-width: 60%;
    }
}

@media(max-width:1100px) {
    .services_main {
        padding: 110px 30px 20px 88px;
    }

    .services_content_container {
        margin-top: 60px;
        margin-left: 80px;
        margin-right: 50px;
        max-width: 60%;
    }

    .apotheke_content img {
        max-width: 310px;
        position: absolute;
        left: 70%;
    }
}

@media(max-width:976px) {
    .services_main {
        padding: 80px 50px 20px 58px;
    }

    .p_services {
        width: auto;
    }

    .clinic_section {
        height: 60px;
    }

    .apotheke_section {
        margin-right: 80px;
    }
.apotheke_content{
    margin-left: 150px;
}
    .apotheke_content p {
        padding-top: 30px;
        width: 600px;
        height: 190px;
    }


    .services_desktop_content_container {
        padding-top: 30px;
    }

    .services_menu_content {
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .services_menu {
        padding-top: 40px;
    }

    .services_content_block {
        height: 210px;
    }

    .services_content_container {
        margin-top: 40px;
        margin-left: 120px;
        margin-right: 40px;
        max-width: 60%;
    }
}

@media(max-width:768px) {
    .services_main {
        padding: 50px 50px 20px 30px;
    }

    .apotheke_section {
        margin-right: 50px;
    }

    .services_menu_content {
        padding-bottom: 20px;
        padding-left: 15px;
        font-size: 14px;
    }

    .services_content_block {
        height: 210px;
        font-size: 12px;
    }

    .services_content p {
        font-size: 15px;
    }

    .services_content_container {
        margin-top: 40px;
        margin-left: 90px;
        margin-right: 40px;
        max-width: 60%;
    }
    .apotheke_content{
        margin-left: 70px;
    }
    .apotheke_content p {
        padding-top: 10px;
        width: 550px;
        height: 130px;
    }
}

@media(min-width:592px) {
    .services_mobile_container {
        display: none;
    }
}

@media(max-width:591px) {
    .services_main {
        padding: 40px 50px 20px 20px;
    }

    .p_services {
        margin-top: 22px;
        margin-bottom: 42px;
        font-size: 16px;
        width: auto;
    }

    .services_desktop_container {
        display: none;
    }

    .services_mobile_container {
        display: block;
        background-color: var(--brand-button-dark-gray-color);
        padding-left: 15px;
        padding-top: 40px;
    }

    .services_mobile_container p {
        font-size: 14px;
    }

    .services_border {
        padding: 10px;
        margin-right: 15px;
        border: 1px solid rgba(59, 59, 59, 0.316);
        border-radius: 3px;
    }

    h4 {
        text-transform: uppercase;
        font-family: 'Open Sans Condensed bold';
        font-size: 23px;
        padding: 15px 0;
    }

    .button_services {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.gallery {
    background-color: var(--brand-gray-color);
    padding-top: 20px;
}

.gallery_title {
    text-align: center;
    font-family: 'Open Sans Condensed bold';
    font-size: 58px;
    color: #2C2625;
    padding: 40px 0 30px 0px;
}

.gallery_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.gallery_container img {
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    width: 430px;
    height: auto;
}

.hidden_photo {
    display: none;
}

.right img {
    width: 423px;
    padding-left: 0;
}


.gallery_btn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

 @media(max-width:769px){

    .gallery_container img {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        width: 430px;
        height: auto;
    }
     
    .right img {
        width: 437px;
        padding-left: 0;
    }
}
 @media(max-width:510px){

    .gallery_title {
        text-align: left;
        font-size: 47px;
        padding: 20px 0 30px 20px;
    }
    .gallery_container img {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        width: 280px;
        height: auto;
    }
     
    .right img {
        width: 280px;
        padding-left: 0;
    }
}

.pop-up_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background: #6d7b88c1;
}

.pop-up_photo {
    height: 300px;
}

.pop-up_close_container {
    padding-bottom: 10px;
    padding-right: 10px;
    align-self: flex-end;
}

.pop-up_gallery.hide {
    display: none;
}

.pop-up_img {
    width: 100%;
}

.pop-up_close {
    text-align: end;
    color: var(--brand-gray-color);
    font-size: 28px;
    cursor: pointer;
}

.contacts{
    background-color:var(--brand-gray-color);
    padding-left: 15px;
    padding-bottom: 100px;
}

.title_contacts{
    padding-top: 120px;
    padding-left: 170px;
}
.contacts_section_container{
    border: 1.6px solid #8694a095;;
    padding-bottom: 40px;
    padding-top: 80px;
    margin: 80px 100px 50px 90px;
}
.contacts_container{
    display:flex;
    justify-content: center;
    gap: 130px;
    font-size: 16px;
    line-height: 1.3; 
    margin: 0;
}
.contacts_subcontainer{
    display: flex;
    gap: 130px;
}

.icons{
    width: 18px;
    position: relative;
    right: 25px;
    top: 19px;
}
.contacts a{
    color:black;
    font-size: 16px;
    line-height: 1.3;
}

.phone_decor{
    width: 300px;
    z-index: 5;
    position: relative;
    top: 100px;
    right: 60px;
    background-color:var(--brand-gray-color);
    margin: 0;
}
.media_icons_container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media(max-width:1183px){

    .contacts_section_container{
        margin: 80px 70px 50px 70px;
    }
    .contacts_container{
        gap: 100px;
    }
    .contacts_subcontainer{
        gap: 100px;
    }
}
@media(max-width:1026px){

    .contacts_section_container{
        margin: 80px 40px 50px 40px;
    }
    .contacts_container{
        gap: 80px;
    }
    .contacts_subcontainer{
        gap: 80px;
    }
}

@media(max-width:940px){
    .contacts{
        padding-bottom: 80px;
    }
    
    .title_contacts{
        padding-top: 120px;
        padding-left: 110px;
    }
    .contacts_section_container{
        padding-bottom: 40px;
        padding-top: 30px;
        margin: 30px 30px 50px 30px;
    }
    .contacts_container{
        display:flex;
        justify-content: center;
        gap: 60px;
        font-size: 14px;
    }
    
    .contacts a{
        font-size: 14px;
    }
    
    .phone_decor{
        width: 250px;
    }
}
@media(max-width:815px){
    .contacts{
        padding-bottom: 50px;
    }
    
    .contacts_section_container{
        padding-top: 40px;
    }
    .contacts_container{
        display:flex;
        justify-content: space-around;
        font-size: 14px;
    }

    .contacts_subcontainer{
        display: block;
    }
    
    .contacts a{
        font-size: 14px;
    }
    
    .phone_decor{
        width: 250px;
    }
}

@media(max-width:540px){
    .contacts{
        padding-bottom: 30px;
    }
    
    .title_contacts{
        padding-top: 60px;
        padding-left: 10px;
    }
    .contacts_section_container{
        border:none;
        padding-bottom: 10px;
        padding-top: 10px;
        /* margin: 80px 100px 50px 90px; */
    }
    .contacts_container{
        justify-content: space-around;;
        font-size: 12px;
    }
    .contacts_subcontainer{
        display: block;
    }
    
    .icons{
        width: 15px;
        position: relative;
        right: 25px;
        top: 19px;
    }
    .contacts a{
        color:rgba(0, 0, 0, 0.842);
        font-size: 13px;
        line-height: 1.3;
    }
    
    .phone_decor{
    display: none;
    }
    .media_icons_container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    .media_icons_container img{
        width: 20px;
    }
}


#map{
    width: 100%;
    height: 500px;
}